* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: #ff6803;
}
h1#count {
    color: white;
}